# =========================

# PYTHON

# =========================

**pycache**/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# =========================

# VIRTUAL ENVIRONMENTS

# =========================

venv/
.env/
.envrc/

# =========================

# JUPYTER NOTEBOOKS

# =========================

.ipynb_checkpoints/

# =========================

# DATA (DO NOT COMMIT RAW DATA)

# =========================

data/raw/
data/processed/
data/review/
data/source/

# allow annotations file (important)

!data/annotations.csv

# =========================

# MODEL FILES

# =========================

checkpoints/
*.pt
*.pth
*.ckpt

# =========================

# LOGS & EXPERIMENTS

# =========================

logs/
*.log
experiments/*.csv
experiments/*.json

# =========================

# CACHE

# =========================

.cache/
.huggingface/
*.cache

# =========================

# SYSTEM FILES

# =========================

.DS_Store
Thumbs.db

# =========================

# IDE FILES

# =========================

.vscode/
.idea/

# =========================

# STREAMLIT

# =========================

.streamlit/

# =========================

# TEMP FILES

# =========================

*.tmp
*.swp
*~
